{{- if .Values.vault.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ .Values.name }}-secret
  namespace: {{ .Values.namespace }}
spec:
  provider: vault
  secretObjects:
  - data:
    {{- range .Values.vault.env }}
    - key: {{ .key }}
      objectName: {{ .key }}
    {{- end }}
    secretName: {{ .Values.name }}-secret
    type: Opaque
  parameters:
    vaultAddress: "https://vault.infra.{{ .Values.environmentFQDN }}"
    roleName: {{ .Values.name }}
    objects: |
      {{- range .Values.vault.env }}
      - objectName: "{{ .key }}"
        secretPath: "{{ $.Values.vault.team }}/data/{{ $.Values.name }}/config"
        secretKey: "{{ .key }}"
      {{- end }}
{{ end }}
---
{{- if .Values.postgres.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ .Values.name }}-postgres
  namespace: {{ .Values.namespace }}
spec:
  provider: vault
  secretObjects:
  - data:
    - key: generic-psql-connections-string
      objectName: generic-psql-connections-string
    - key: psql-connections-string
      objectName: psql-connections-string
    secretName: {{ .Values.name }}-postgres
    type: Opaque
  parameters:
    vaultAddress: "https://vault.infra.{{ .Values.environmentFQDN }}"
    roleName: {{ .Values.name }}
    objects: |
      - objectName: "generic-psql-connections-string"
        secretPath: "aiven/postgres/{{ $.Values.postgres.databaseServer }}/data/{{ $.Values.postgres.databaseName }}"
        secretKey: "generic-psql-connections-string"
      - objectName: "psql-connections-string"
        secretPath: "aiven/postgres/{{ $.Values.postgres.databaseServer }}/data/{{ $.Values.postgres.databaseName }}"
        secretKey: "psql-connections-string"
{{ end }}
---
{{- if .Values.kafka.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ .Values.name }}-kafka
  namespace: {{ .Values.namespace }}
spec:
  provider: vault
  secretObjects:
  - data:
    - key: access-cert
      objectName: access-cert
    - key: access-key
      objectName: access-key
    - key: ca-cert
      objectName: ca-cert
    - key: schema-registry-uri
      objectName: schema-registry-uri
    - key: service-uri
      objectName: service-uri
    - key: username
      objectName: username
    secretName: {{ .Values.name }}-kafka
    type: Opaque
  parameters:
    vaultAddress: "https://vault.infra.{{ .Values.environmentFQDN }}"
    roleName: {{ .Values.name }}
    objects: |
      - objectName: "access-cert"
        secretPath: "aiven/kafka/{{ $.Values.kafka.cluster }}/data/{{ $.Values.kafka.app }}"
        secretKey: "access-cert"
      - objectName: "access-key"
        secretPath: "aiven/kafka/{{ $.Values.kafka.cluster }}/data/{{ $.Values.kafka.app }}"
        secretKey: "access-key"
      - objectName: "ca-cert"
        secretPath: "aiven/kafka/{{ $.Values.kafka.cluster }}/data/{{ $.Values.kafka.app }}"
        secretKey: "ca-cert"
      - objectName: "schema-registry-uri"
        secretPath: "aiven/kafka/{{ $.Values.kafka.cluster }}/data/{{ $.Values.kafka.app }}"
        secretKey: "schema-registry-uri"
      - objectName: "service-uri"
        secretPath: "aiven/kafka/{{ $.Values.kafka.cluster }}/data/{{ $.Values.kafka.app }}"
        secretKey: "service-uri"
      - objectName: "username"
        secretPath: "aiven/kafka/{{ $.Values.kafka.cluster }}/data/{{ $.Values.kafka.app }}"
        secretKey: "username"
{{ end }}
---
{{- if .Values.redis.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ .Values.name }}-redis
  namespace: {{ .Values.namespace }}
spec:
  provider: vault
  secretObjects:
  - data:
    - key: redis-connection-string
      objectName: redis-connection-string
    - key: redis-connection-user
      objectName: redis-connection-user
    - key: redis-connection-password
      objectName: redis-connection-password
    - key: redis-connection-host
      objectName: redis-connection-host
    - key: redis-connection-port
      objectName: redis-connection-port
    secretName: {{ .Values.name }}-redis
    type: Opaque
  parameters:
    vaultAddress: "https://vault.infra.{{ .Values.environmentFQDN }}"
    roleName: {{ .Values.name }}
    objects: |
      - objectName: "redis-connection-string"
        secretPath: "aiven/redis/{{ $.Values.redis.instanceName }}/data/{{ $.Values.redis.userName }}"
        secretKey: "connectionString"
      - objectName: "redis-connection-user"
        secretPath: "aiven/redis/{{ $.Values.redis.instanceName }}/data/{{ $.Values.redis.userName }}"
        secretKey: "user"
      - objectName: "redis-connection-password"
        secretPath: "aiven/redis/{{ $.Values.redis.instanceName }}/data/{{ $.Values.redis.userName }}"
        secretKey: "password"
      - objectName: "redis-connection-host"
        secretPath: "aiven/redis/{{ $.Values.redis.instanceName }}/data/{{ $.Values.redis.userName }}"
        secretKey: "host"
      - objectName: "redis-connection-port"
        secretPath: "aiven/redis/{{ $.Values.redis.instanceName }}/data/{{ $.Values.redis.userName }}"
        secretKey: "port"
{{ end }}
---
{{- if .Values.opensearch.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ .Values.name }}-opensearch
  namespace: {{ .Values.namespace }}
spec:
  provider: vault
  secretObjects:
  - data:
    - key: opensearch-connection-user
      objectName: opensearch-connection-user
    - key: opensearch-connection-password
      objectName: opensearch-connection-password
    - key: opensearch-connection-host
      objectName: opensearch-connection-host
    - key: opensearch-connection-port
      objectName: opensearch-connection-port
    secretName: {{ .Values.name }}-opensearch
    type: Opaque
  parameters:
    vaultAddress: "https://vault.infra.{{ .Values.environmentFQDN }}"
    roleName: {{ .Values.name }}
    objects: |
      - objectName: "opensearch-connection-user"
        secretPath: "aiven/opensearch/{{ $.Values.opensearch.instanceName }}/data/{{ $.Values.opensearch.userName }}"
        secretKey: "user"
      - objectName: "opensearch-connection-password"
        secretPath: "aiven/opensearch/{{ $.Values.opensearch.instanceName }}/data/{{ $.Values.opensearch.userName }}"
        secretKey: "password"
      - objectName: "opensearch-connection-host"
        secretPath: "aiven/opensearch/{{ $.Values.opensearch.instanceName }}/data/{{ $.Values.opensearch.userName }}"
        secretKey: "host"
      - objectName: "opensearch-connection-port"
        secretPath: "aiven/opensearch/{{ $.Values.opensearch.instanceName }}/data/{{ $.Values.opensearch.userName }}"
        secretKey: "port"
{{ end }}