{{ range .Values.services }}
{{- if .pullSecrets }}
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: imagepullsecret-fetcher
  namespace: {{ .name }}
spec:
  provider: vault
  secretObjects:
  {{- range .pullSecrets }}
  - secretName: {{ . }}
    data:
    - key: .dockerconfigjson
      objectName: {{ . }}
    type: kubernetes.io/dockerconfigjson
  {{- end }}
  parameters:
    vaultAddress: {{ $.Values.vault.address }}
    roleName: imagepullsecret-fetcher
    objects: |
      {{- range .pullSecrets }}
      - objectName: "{{ . }}"
        secretPath: "imagepullsecret/data/{{ . }}/config"
        secretKey: "dockerconfigjson"
      {{- end }}
---
{{- end }}
{{ end }}