{{ range .Values.services }}
{{ if .roleBinding.enable }}
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .name }}
  namespace: {{ .name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ .name }}
subjects:
  - kind: Group
    namespace: {{ .name }}
    name: {{ .roleBinding.activeDirectory.group.objectID }}
{{ end }}
{{ end }}